html, body {
    margin: 0;
}

body {
    font-family: Inter;
}

.container {
    display: flex;
    padding: auto;
    margin: auto;
}

.counter{

    display: flex;
    align-items: flex-end;
    align-self: center;
    margin-top: 100px;


}
button{
    text-align: center;
    font-size: large;
    color: #000;
    background-color: skyblue;
    border-radius: 30px;

}